<div class="tarjeta_container">
    <div class="tarjeta_main">
        <div class="tarjeta_title">
            <indicador value="1.300.000" icon="black-tie"></indicador>
        </div>
        <div class="tarjeta_divider">&nbsp;</div>
        <div class="tarjeta_desc">
            <descripcion text="$ctrl.config.description"></descripcion>
        </div>
        <div class="tarjeta_percent">
            <progress-bar value="$ctrl.config.percent"></progress-bar>
        </div>
    </div>
    <div class="tarjeta_icon">
        &nbsp;
        <div class="tarjeta_icon_circle">
            <md-icon md-svg-src="static/svg/close.svg" aria-label="Informe"></md-icon>
        </div>
    </div>
</div>